.chessboard {
  width: 100vw;
  height: 100vw;
  min-width: 350px;
  max-width: 520px;
  min-height: 350px;
  max-height: 520px;
  box-sizing: border-box;
  border: 1px solid red;
  margin-top: 5vh;
  position: relative;
}

.clickable {
  cursor: pointer;
}
.clickable.white {
  color: #fff;
}
.clickable.black {
  color: #000;
}

.chess-square-white {
  position: absolute;
  background-color: #fff78d;
  border: 1px solid black;
}

.chess-square-black {
  position: absolute;
  background-color: #0a8de4;
  border: 1px solid black;
}

@media screen and (width >= 520px) {
  .chess-square-black, .chess-square-white{
    width: 65px;
    height: 65px;
  }
}

@media screen and (width < 520px) {
  .chess-square-black, .chess-square-white{
    width: 12.5vw;
    height: 12.5vw;
  }
}





